{% extends "base.jinja" %}
{% from "macros.jinja" import show_post %}

{% block title %}
    Naomi's Blog
{% endblock %}

{% block body %}
<a href="/new" class="subtitle level-right is-link">
  New Post
</a>
<br />

{% for post in posts %}
  {{ show_post(post) }}
{% else %}
  <div class="container box">
    <h2 class="subtitle">No posts yet. Please check back later.</h2>
  </div>
{% endfor %}


{% endblock %}
