{% macro show_post(post) -%}
<div class="container box">
  <a href="{{ url_for('post', oid=post._id|string) }}">
    <h2 class="title is-2">{{post.title}}</h2>
  </a>
  <p class="subtitle has-text-right has-text-muted">{{post.date}}</p>
  <p>{{post.content}}</p>
</div>
{%- endmacro %}
